:root {
  /* Primary Colors */
  --white: hsl(0, 0%, 100%);
  --purple: hsl(273, 55%, 42%);

  /* Secondary Colors */
  --very-light-purple: hsl(274, 84%, 73%);
  --very-light-gray: hsl(0, 0%, 87%);
  --input-fields-overlay: hsl(273, 92%, 95%);

  /* Typography Colors */
  --off-white: hsl(238, 100%, 93%);
  --gray: hsl(0, 1%, 26%);
  --type-purple: hsl(273, 85%, 52%);
  --blue: hsl(223, 100%, 50%);
  --user-type-heading: hsl(220, 43%, 11%);
  --user-type-body: rgba(102, 112, 133, 1);
  --bright-cyan: rgba(40, 214, 216, 1);
  /* Mobile Size */
  --mobile-width: 89vw;

  /*------------
        Utilities
         ------------*/

  /* Accent Colors */
  --loader-blue: rgba(23, 92, 211, 1);
  --bg-blue: rgba(245, 250, 255, 1);
  --icon-bg-blue: rgba(209, 233, 255, 1);

  --loader-red: rgba(193, 21, 116, 1);
  --bg-red: rgba(254, 246, 251, 1);
  --icon-bg-red: rgba(252, 231, 246, 1);

  --loader-green: rgba(2, 122, 72, 1);
  --bg-green: rgba(246, 254, 249, 1);
  --icon-bg-green: rgba(209, 250, 223, 1);

  --loader-purple: rgba(53, 56, 205, 1);
  --bg-purple: rgba(245, 248, 255, 1);
  --icon-bg-purple: rgba(224, 234, 255, 1);

  --btn-height: clamp(3.2rem, 4vw, 3.8rem);
  --btn-width: clamp(9.3rem, 15vw, 12rem);
  --radius: 6px;
  --btn-fz: clamp(1.1rem, 3vw, 1.4rem);
  --transtion: all 0.3s linear;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.wrapper {
  width: var(--mobile-width);
  margin: 0 auto;
}
.nav {
  padding-block: clamp(0.8em, 3vw, 2.3rem);
  width: 100%;
  min-width: 26ch;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white);
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 128px;
  min-width: 13ch;
  height: 26px;
}
.nav__setting--wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile {
  display: flex;
}
.profile__img,
.setting__icon {
  width: min(7vw, 28px);
  min-width: 27px;
  aspect-ratio: 1;
}
.main__wrapper {
  min-height: 100vh;
  padding-bottom: 3rem;
}
.profile__img {
  border-radius: 50%;
}
.header__main {
  margin: 4rem 0 2rem 0;
}
.header {
  font-size: clamp(1.9rem, 5vw, 3.5rem);
  font-weight: 600;
  color: var(--type-purple);
  min-width: 22ch;
}
.header span {
  color: var(--gray);
}
.activities {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid var(--gray);
  padding-inline: clamp(2rem, 2vw, 4rem);
}
.activities p {
  font-size: clamp(2rem, 5vw, 2.5rem);

  font-weight: 500;
  color: var(--gray);
}
.activities span {
  font-size: 5.8rem;
  font-weight: 600;
  color: var(--type-purple);
}
.content__header {
  font-size: clamp(2.3rem, 5vw, 3.8rem);
  font-weight: 600;
  color: var(--gray);
  margin-block: 5.5rem 2rem;
}
.contents {
  display: grid;
  gap: 1.5rem;
  place-items: center;
}
.uploaded__content {
  display: flex;
  align-items: center;
  flex: 1 2 100%;
  background: var(--very-light-gray);
  border-radius: var(--radius);
  min-width: 300px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  overflow-x: hidden;
}
.uploaded__content:hover {
  opacity: 0.7;
}
.uploaded__content svg {
  width: clamp(5.5rem, 8vw, 7rem);
  padding-inline: 2.6rem 1.6rem;
  border-right: 2px solid var(--user-type-body);
  cursor: pointer;
  transition: background 0.3s;
}
.uploaded__content a {
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 600;
  margin-inline: auto;
  color: var(--type-purple);
}
.file{
  opacity: 0;
}
@media (min-width: 900px) {
  .nav {
    background: var(--very-light-gray);
  }
  .contents,
  .header__main,
  .activities__sect {
    margin-inline: auto;
    text-align: center;
  }
  .contents,
  .header__main {
    max-width: 1000px;
  }

  .contents {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-content: center;
  }
  .content__header {
    grid-column: span 2;
  }
  .activities__sect {
    border: 2px solid var(--gray);
    border-radius: var(--radius);
    max-width: 1200px;
    padding-bottom: 4em;
    overflow-x: hidden;
  }
  .activities {
    align-items: center;
  }
}
@media (min-width: 800px) {
}
