:root {
  /* Primary Colors */
  --white: hsl(0, 0%, 100%);
  --purple: hsl(273, 55%, 42%);

  /* Secondary Colors */
  --very-light-purple: hsl(274, 84%, 73%);
  --very-light-gray: hsl(0, 0%, 87%);
  --input-fields-overlay: hsl(273, 92%, 95%);

  /* Typography Colors */
  --off-white: hsl(238, 100%, 93%);
  --gray: hsl(0, 1%, 26%);
  --type-purple: hsl(273, 85%, 52%);
  --blue: hsl(223, 100%, 50%);
  --user-type-heading: hsl(220, 43%, 11%);
  --user-type-body: rgba(102, 112, 133, 1);
  --bright-cyan: rgba(40, 214, 216, 1);
  /* Mobile Size */
  --mobile-width: 89vw;

  /*------------
      Utilities
       ------------*/

  /* Accent Colors */
  --loader-blue: rgba(23, 92, 211, 1);
  --bg-blue: rgba(245, 250, 255, 1);
  --icon-bg-blue: rgba(209, 233, 255, 1);

  --loader-red: rgba(193, 21, 116, 1);
  --bg-red: rgba(254, 246, 251, 1);
  --icon-bg-red: rgba(252, 231, 246, 1);

  --loader-green: rgba(2, 122, 72, 1);
  --bg-green: rgba(246, 254, 249, 1);
  --icon-bg-green: rgba(209, 250, 223, 1);

  --loader-purple: rgba(53, 56, 205, 1);
  --bg-purple: rgba(245, 248, 255, 1);
  --icon-bg-purple: rgba(224, 234, 255, 1);

  --btn-height: clamp(3.2rem, 4vw, 3.8rem);
  --btn-width: clamp(9.3rem, 15vw, 12rem);
  --radius: 6px;
  --btn-fz: clamp(1.1rem, 3vw, 1.4rem);
  --transtion: all 0.3s linear;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.wrapper {
  width: var(--mobile-width);
  margin: 0 auto;
}
.nav {
  margin-top: 2em;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white);
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 128px;
  height: 26px;
}

.Desktop__nav,
.profile__email {
  display: none;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 25px;
  aspect-ratio: 1;
  margin-right: 6px;
  border-radius: 50%;
}
.profile__arrow {
  display: block;
  padding-left: 4px;
}
.profile__name {
  font-size: 1.3rem;
  line-height: 2;
  color: var(--gray);
}

/* Mobile styles for main */
.search__input {
  width: 66vw;
  min-width: 213px;
  max-width: 280px;
  height: 4.5vh;
  position: relative;
  margin-inline: auto;
  margin-top: 1.8em;
  border-radius: var(--radius);
  background: var(--very-light-gray);
  color: var(--gray);
  overflow: hidden;
}
.search__input:focus-within {
  outline: 4px solid hsl(0, 0%, 98%);
}
.search__input input {
  width: 85%;
  height: 100%;
  margin-left: 14%;
  padding-left: 1rem;
  border: 0;
  outline: 0;
  background: transparent;
}
.search__input--btn {
  position: absolute;
  display: grid;
  place-content: center;
  background: transparent;
  height: 100%;
  width: 40px;
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 0;
  outline: 0;
}
.search__input--btn img {
  width: 14px;
}

.header{
  padding-top: 4rem;
  color: var(--type-purple);
  font-weight: 500;
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 4rem;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(autofit, min(3, 1fr));
  width: 90%;
  place-items: center;
  margin-inline: auto;
}

.content a .itemz{
  display: flex;
  flex-direction: column;
  background: #D6D2D2;
  border-radius: 15px;
  align-items: center;
  padding: 2rem ;
  gap: 1.7rem;
}
.itemz{
  width: min(80%, 21rem);
  min-width: 19rem;
  margin-bottom: 4rem;
}
.itemz img{
  width: 100%;
  height: 165px;
}

.itemz .info h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: hsla(0, 1%, 26%, 1);
  font-size: 2rem;
  line-height: 0rem;
}

.itemz .info .stack{
  margin-top: 1rem;
  color: #444343;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stack .stars{
  display: flex;
  padding-inline-start: 3rem;
}

.stack .stars img{
  width: 10px;
  height: 10px;
}

/* Media Query for main */
@media (min-width: 600px) {
  main {
    width: 80%;
    margin-left: min(18.4%, 20em);
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .nav {
    margin-top: 0;
    padding-block: 0.7em;
    width: 100%;
  }
  .nav__logo {
    width: 109px;
    height: 34px;
  }
}
@media (min-width: 800px) {
  .search__input {
    display: none;
  }
  .nav {
    background: var(--white);
    border-right: 1px solid var(--gray);
    position: fixed;
    top: 0;
    width: min(21%, 230px);
    height: 100%;
  }
  .nav__icons {
    width: 2rem;
  }
  .nav__wrapper {
    display: none;
  }
  .nav__wrapper {
    display: none;
  }
  .nav__logo {
    margin-inline: auto;
    margin-bottom: 2rem;
    width: 137px;
  }
  .Desktop__nav {
    display: flex;
    flex-direction: column;
  }
  .desktop__nav--wrapper {
    position: relative;
    margin-inline: auto;
    border-bottom: 1px solid var(--gray);
    width: 75%;
    height: 630px;
  }
  .Desktop__nav--icons {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-block: 2.4rem;
    cursor: pointer;
    width: 13rem;
    /* border: 1px solid red; */
  }
  .Desktop__nav--icons p {
    font-size: 1.23rem;
    color: var(--gray);
  }
  /* .Desktop__nav--icons:nth-child(1) :has(.nav__icons) {
        color: var(--white); 
        fill: var(--white);
      } */
  .settings {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
  }
  .settings p {
    font-size: 1.6rem;
  }
  .profile {
    width: 75%;
    margin-inline: auto;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
  }
  .profile__name--wrapper {
    line-height: 0;
    margin-right: auto;
    margin-bottom: auto;
  }
  .profile__name {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }
  .profile__email {
    display: block;
    font-size: clamp(0.6rem, 1vw, 1rem);
    font-weight: 500;
    color: var(--gray);
  }
  .profile img {
    width: min(3.3vw, 35px);
    margin-right: 3px;
  }
  .profile__arrow {
    display: none;
    margin-right: auto;
  }
  .profile__icon {
    width: min(1.4vw, 26.5px);
    min-width: 1.8ch;
  }
  .dashboard__active {
    position: absolute;
    top: 1.2rem;
    left: -1rem;
    width: min(70vw, 140px);
    height: 3.9rem;
    border-radius: var(--radius);
    background: var(--very-light-gray);
    z-index: -1;
  }
}

@media (min-width: 1300px) {
  .user__main {
    margin-left: 10.2%;
    padding-inline: 8vw;
    width: 57%;
    height: 75vw;
  }
}