:root {
    /* Primary Colors */
    --white: hsl(0, 0%, 100%);
    --purple: hsl(273, 55%, 42%);
  
    /* Secondary Colors */
    --very-light-purple: hsl(274, 84%, 73%);
    --very-light-gray: hsl(0, 0%, 87%);
    --input-fields-overlay: hsl(273, 92%, 95%);
  
    /* Typography Colors */
    --off-white: hsl(238, 100%, 93%);
    --gray: hsl(0, 1%, 26%);
    --type-purple: hsl(273, 85%, 52%);
    --blue: hsl(223, 100%, 50%);
    --user-type-heading: hsl(220, 43%, 11%);
    --user-type-body: rgba(102, 112, 133, 1);
    --bright-cyan: rgba(40, 214, 216, 1);
    /* Mobile Size */
    --mobile-width: 89vw;
  
    /*------------
        Utilities
         ------------*/
  
    /* Accent Colors */
    --loader-blue: rgba(23, 92, 211, 1);
    --bg-blue: rgba(245, 250, 255, 1);
    --icon-bg-blue: rgba(209, 233, 255, 1);
  
    --loader-red: rgba(193, 21, 116, 1);
    --bg-red: rgba(254, 246, 251, 1);
    --icon-bg-red: rgba(252, 231, 246, 1);
  
    --loader-green: rgba(2, 122, 72, 1);
    --bg-green: rgba(246, 254, 249, 1);
    --icon-bg-green: rgba(209, 250, 223, 1);
  
    --loader-purple: rgba(53, 56, 205, 1);
    --bg-purple: rgba(245, 248, 255, 1);
    --icon-bg-purple: rgba(224, 234, 255, 1);
  
    --btn-height: clamp(3.2rem, 4vw, 3.8rem);
    --btn-width: clamp(9.3rem, 15vw, 12rem);
    --radius: 6px;
    --btn-fz: clamp(1.1rem, 3vw, 1.4rem);
    --transtion: all 0.3s linear;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
  }
  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
  }
  .wrapper {
    width: var(--mobile-width);
    margin: 0 auto;
  }
  .nav {
    margin-top: 2em;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white);
  }
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
  }
  .nav__logo {
    width: 128px;
    height: 26px;
    z-index: -2;
  }
  /* HAMBURGER MENU */
  .nav__hamburger {
    cursor: pointer;
    z-index: 100;
  }
  .lines {
    width: 26px;
    height: 2.5px;
    margin: 0.4em;
    border-radius: 50px;
    background: var(--gray);
  }
  .lines {
    transition: all 200ms;
  }
  .toggle .lines:nth-child(2) {
    opacity: 0;
  }
  .toggle .lines:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .toggle .lines:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .overlay {
    background: rgb(0, 0, 0, 0.8);
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: -1;
    backdrop-filter: blur(1.8px);
    opacity: 0;
    transition: all 400ms;
  }
  .desktop__nav--wrapper {
    position: fixed;
    top: -3.2rem;
    right: 0;
    background: rgb(255, 255, 255, 1);
    width: 60%;
    min-height: 100vh;
    transform: translateX(100%);
    transition: all 300ms;
  }
  .Desktop__nav--icons {
    all: unset;
    display: flex;
    padding-block: 1rem;
    cursor: pointer;
    width: 13rem;
  }
  .hamburger__btn {
    margin: 7em 0 0 3em;
  }
  .Desktop__nav--icons a {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray);
  }
  .active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  .profile {
    display: flex;
    align-items: center;
  }
  .Desktop__nav--icons svg,
  .desktop__logo,
  .profile__desktop {
    display: none;
  }
  
  /* END---------------------------------- */
  .profile img {
    width: 25px;
    aspect-ratio: 1;
    margin-right: 6px;
    border-radius: 50%;
  }
  .profile__arrow {
    display: block;
    padding-left: 4px;
  }
  .profile__name {
    font-size: 1.3rem;
    line-height: 2;
    color: var(--gray);
  }
  .search__input {
    width: 66vw;
    min-width: 213px;
    max-width: 280px;
    height: 4.5vh;
    position: relative;
    margin-left: 0;
    margin-top: 1em;
    border-radius: var(--radius);
    background: var(--very-light-gray);
    color: var(--gray);
  }
  .search__input input {
    width: 86%;
    height: 100%;
    margin-left: 14%;
    border: 0;
    outline: 0;
    background: transparent;
  }
  .search__input--btn {
    position: absolute;
    background: transparent;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    border: 0;
    outline: 0;
  }
  .search__input--btn img {
    width: 14px;
  }
  .header__user {
    margin-block: 2em;
  }
  .header__user h1 {
    font-size: clamp(2rem, 7vw, 6.2rem);
    font-weight: 500;
    color: var(--gray);
  }
  .header__user h1 span {
    color: var(--type-purple);
  }

  .header__user h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 3rem;
  }
  
  /* Main Styles */
  .book__screen {
    margin-block: 4rem;
  }

  .book__screen p span {
    color: hsla(274, 85%, 52%, 1);
  }

  .book__screen p {
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    font-size: 2rem;
    font-weight: 900;
  }

  /* Timer styles */
  .watch{
    position: relative;
    text-align: right;
    top: 15px;
    /* right: 60px; */
    color: hsla(0, 1%, 41%, 1);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-left: 6rem;
    overflow: hidden;
  }
  .timer {
    font-size: 30px;
  }
  @media (min-width: 600px) {
    .nav {
      margin-top: 0;
      padding-block: 0.7em;
      width: 100%;
    }
    .nav__logo {
      width: 109px;
      height: 34px;
    }
  }
  @media (min-width: 800px) {
    /* USER */
    .user__main {
      margin-top: 6rem;
      margin-left: min(22.4%, 16em);
      width: 80%;
    }
    .nav {
      background: var(--white);
      border-right: 1px solid var(--gray);
      position: fixed;
      top: 0;
      width: min(21%, 230px);
      height: 100%;
    }
    .nav__icons {
      width: 2rem;
    }
    .nav__wrapper {
      display: none;
    }
    .search__input {
      position: fixed;
      top: 70px;
      right: 60px;
      width: 66vw;
      min-width: 213px;
      max-width: 280px;
      height: 40px;
      margin-left: 0;
      margin-top: 1em;
      border-radius: var(--radius);
      background: var(--very-light-gray);
      color: var(--gray);
    }
    .search__input input {
      font-size: 1.4rem;
    }
    .nav__wrapper {
      display: none;
    }
    .nav__logo {
      margin-inline: auto;
      margin-bottom: 2rem;
      width: 137px;
    }
    /* BEGIN------------ ###################*/
    .hamburger__btn {
      margin: 0;
    }
    .Desktop__nav {
      display: flex;
      flex-direction: column;
    }
    .desktop__nav--wrapper {
      position: relative;
      top: 0;
      transform: translateX(0);
      margin-inline: auto;
      border-bottom: 1px solid var(--gray);
      width: 75%;
      min-height: 79vh;
    }
    .Desktop__nav--icons {
      display: flex;
      align-items: center;
      gap: 0.9rem;
      padding-block: 2.4rem;
      cursor: pointer;
      width: 13rem;
    }
    .Desktop__nav--icons svg,
    .desktop__logo {
      display: block;
    }
    .profile__desktop {
      display: flex;
    }
    .Desktop__nav--icons svg {
      width: 22%;
    }
    .Desktop__nav--icons a {
      font-size: 1.23rem;
      font-weight: normal;
      color: var(--gray);
      height: auto;
    }
    .settings {
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      z-index: 100;
    }
    .settings p {
      font-size: 1.6rem;
    }
    .profile__desktop {
      width: 75%;
      margin-inline: auto;
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
    }
    .profile__name--wrapper {
      line-height: 0;
      margin-right: auto;
      margin-bottom: auto;
    }
    .profile__name {
      font-size: clamp(1rem, 1.2vw, 1.3rem);
    }
    .profile__email {
      display: block;
      font-size: clamp(0.6rem, 1vw, 1rem);
      font-weight: 500;
      color: var(--gray);
    }
    .profile img {
      width: min(3.3vw, 35px);
      margin-right: 3px;
    }
    .profile__arrow {
      display: none;
      margin-right: auto;
    }
    .profile__icon {
      width: min(1.4vw, 26.5px);
      min-width: 1.8ch;
    }
    .dashboard__active {
      position: absolute;
      top: 21.4rem;
      right: 3rem;
      width: 3px;
      height: 5rem;
      border-radius: var(--radius);
      background: var(--loader-red);
      transition: 0.6s;
      z-index: -1;
    }
    .Desktop__nav--icons:nth-child(1):hover ~ .dashboard__active {
      top: 0.8rem;
    }
    .Desktop__nav--icons:nth-child(2):hover ~ .dashboard__active {
      top: 7.3rem;
    }
    .Desktop__nav--icons:nth-child(3):hover ~ .dashboard__active {
      top: 14.4rem;
    }
    .Desktop__nav--icons:nth-child(4):hover ~ .dashboard__active {
      top: 20.9rem;
    }
    .subscription {
      padding: 4rem;
    }
    .recent__courses--ctx-txt h3 {
      width: 23ch;
    }
    /* END------------ */
    /* Main */
    /* .book__screen {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    } */
  
    /* Timer Styles */
  .watch {
    position: fixed;
    top: 20px;
    right: 60px;
  }
  }
  @media (min-width: 1400px) {
    .search__input {
      position: absolute;
      top: 53px;
      right: 60px;
      z-index: 100;
    }
  
    .book__screen {
      margin-block: 1.5rem;
    }
  
    /* .user__main {
        margin-left: 10.2%;
        padding-inline: 8vw;
        width: 57%;
        height: 75vw;
      } */
  }
  