:root {
  /* Primary Colors */
  --white: hsl(0, 0%, 100%);
  --purple: hsl(273, 55%, 42%);

  /* Secondary Colors */
  --very-light-purple: hsl(274, 84%, 73%);
  --very-light-gray: hsl(0, 0%, 87%);
  --input-fields-overlay: hsl(273, 92%, 95%);

  /* Typography Colors */
  --off-white: hsl(238, 100%, 93%);
  --gray: hsl(0, 1%, 26%);
  --type-purple: hsl(273, 85%, 52%);
  --blue: hsl(223, 100%, 50%);
  --user-type-heading: hsl(220, 43%, 11%);
  --user-type-body: rgba(102, 112, 133, 1);
  --bright-cyan: rgba(40, 214, 216, 1);
  /* Mobile Size */
  --mobile-width: 89vw;

  /*------------
  Utilities
   ------------*/

  /* Accent Colors */
  --loader-blue: rgba(23, 92, 211, 1);
  --bg-blue: rgba(245, 250, 255, 1);
  --icon-bg-blue: rgba(209, 233, 255, 1);

  --loader-red: rgba(193, 21, 116, 1);
  --bg-red: rgba(254, 246, 251, 1);
  --icon-bg-red: rgba(252, 231, 246, 1);

  --loader-purple: rgba(53, 56, 205, 1);
  --bg-purple: rgba(245, 248, 255, 1);
  --icon-bg-purple: rgba(224, 234, 255, 1);

  --btn-height: clamp(3.2rem, 4vw, 3.8rem);
  --btn-width: clamp(9.3rem, 15vw, 12rem);
  --radius: 6px;
  --btn-fz: clamp(1.1rem, 3vw, 1.4rem);
  --transtion: all 0.3s linear;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.wrapper {
  width: var(--mobile-width);
  margin: 0 auto;
}
.nav {
  margin-top: 2em;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(3px);
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 128px;
  height: 26px;
}
.cta {
  font-family: inter;
  font-size: var(--btn-fz);
  font-weight: 500;
  border: none;
  outline: none;
  text-decoration: none;
  background: var(--type-purple);
  color: var(--white);
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transtion);
}
.main {
  /* margin-top: clamp(3rem, 10vw, 6rem); */
  margin-top: 6vw;
}
.header {
  position: relative;
  /* max-width: 688px; */
}
.header__label {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 0.9em;
}
.header__main {
  font-size: clamp(2rem, 8.6vw, 7.3rem);
  color: var(--gray);
  font-weight: 800;
}
.header__main > span {
  background: var(--very-light-purple);
  color: var(--off-white);
  padding-inline: 14px;
  border-radius: var(--radius);
}
.header__img {
  width: 45%;
  max-width: 490px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.header__cta-sect {
  margin-top: clamp(1.3em, 6vw, 3em);
}
.header__cta {
  margin-bottom: 1.3em;
}
.header__cta a {
  color: var(--white);
  text-decoration: none;
}
.enrollments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 172px;
  height: 30px;
  /* border: 2px solid red; */
}
.enrollments div {
  position: absolute;
  width: 25px;
  /* border: 2px solid red; */
  overflow: hidden;
  border-radius: 50%;
}
.enrollments div img {
  width: 100%;
}

/* Image Stacks-----------------*/
.enrollments div:nth-child(2) {
  left: 10px;
  z-index: 0;
}
.enrollments div:nth-child(3) {
  left: 20px;
  z-index: 1;
}
.enrollments div:nth-child(4) {
  left: 30px;
  z-index: 2;
}
.enrollments div:nth-child(5) {
  left: 40px;
  z-index: 3;
}

.enrollments p {
  position: absolute;
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  font-weight: 300;
  right: 10px;
  color: var(--gray);
}
.enrollments p span {
  color: var(--type-purple);
}
.courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6em 1.5em;
}
.courses__icons {
  display: block;
  margin-inline: auto;
  margin-bottom: 1.3rem;
}
.courses__details h2 {
  font-size: clamp(1.1rem, 3vw, 2.2rem);
  font-weight: 500;
  color: var(--type-purple);
  text-align: center;
}
.courses__details p {
  display: none;
}
.footer {
  background: var(--purple);
  padding-block: 0.8em;
}
.footer__nav {
  padding-bottom: 1.6em;
  /* border-bottom: 1px solid #262424; */
  text-align: center;
}
.footer__nav h3 {
  font-weight: 500;
  color: var(--white);
}
.footer__nav ul {
  width: max-content;
  list-style: none;
  margin-top: 1em;
  margin-inline: auto;
}
.footer__nav ul a {
  width: inherit;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
  line-height: 2.3em;
}
.nav__about {
  display: none;
}
.nav__socials {
  text-align: center;
  margin-top: 1em;
}
.nav__socials h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.nav__socials h3,
.nav__socials a {
  color: var(--white);
}
.socials__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 2rem;
  margin-top: 1rem;
}
.footer__tag {
  font-size: 1.1rem;
  margin-top: 2em;
  text-align: center;
  color: var(--off-white);
}
.footer__logo {
  opacity: 0;
}
@media (min-width: 760px) {
  .nav {
    margin-top: 0;
    padding-block: 0.7em;
    width: 100%;
    background: var(--very-light-gray);
  }
  .nav__logo {
    width: 109px;
    height: 34px;
  }
  .enrollments {
    width: 225px;
    height: 34px;
  }
  .enrollments div {
    width: 35px;
  }
  .enrollments p {
    font-size: 1.7rem;
    right: 0;
  }
  .courses__details p {
    display: block;
  }
  .courses__details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
  }
  .courses {
    padding-block: 14em;
  }
  .courses__icons {
    width: 4vw;
    height: 4vw;
    margin-bottom: 0;
  }
  .courses__detail-txt {
    width: 200px;
    color: var(--gray);
  }
  .courses__detail-txt h2 {
    text-align: left;
  }
  .courses__detail-txt h2 a {
    text-decoration: none;
  }
  .courses__detail-txt p {
    font-size: 1.4rem;
  }
  .socials__icons {
    font-size: 2rem;
  }
  .nav__about {
    display: none;
  }
  .nav__footer {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 4em;
    position: relative;
  }
  .nav__footer:nth-child(n) {
    width: 70%;
  }
  .footer__nav {
    padding: 0;
  }
  .nav__socials {
    margin: 0;
  }
  .nav__socials h3 {
    width: max-content;
    font-size: 1.17em;
  }
  .socials__icons,
  .footer__nav ul,
  .nav__about p {
    font-weight: 400;
    margin-top: 1.6em;
    line-height: 1.6;
  }
  .footer__tag {
    margin-top: 6em;
    font-size: 1.2rem;
  }
  .footer__logo {
    opacity: 0.037;
    position: absolute;
  }
}
@media (min-width: 1100px) {
  .nav__about {
    display: inline;
    color: var(--white);
  }
  .nav__about p {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .nav__footer {
    gap: 12em;
    justify-content: space-between;
  }
  .footer__nav:nth-child(n) {
    text-align: left;
  }
}
.cta:hover {
  opacity: 0.7;
}
a:hover {
  opacity: 0.7;
  transition: var(--transtion);
}

/*-----------------------------
/////////User Page/////////////
-----------------------------*/
.main__app {
  overflow-x: hidden;
}
.Desktop__nav,
.profile__email {
  display: none;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 25px;
  height: 25px;
  margin-right: 6px;
  border-radius: 50%;
}
.profile__name,
.chevron-down {
  font-size: 1.3rem;
  line-height: 2;
  color: var(--gray);
}
.search__input {
  width: 240px;
  height: 30px;
  position: relative;
  margin-inline: 0;
  margin-left: 20.63px;
  margin-top: 1.8em;
  border-radius: var(--radius);
  color: var(--gray);
  background: var(--very-light-gray);
  overflow: hidden;
}
.search__input input {
  width: 86%;
  height: 100%;
  margin-left: 14%;
  border: 0;
  outline: 0;
  background: transparent;
}
.search__input--btn {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  border: 0;
  outline: 0;
}
.search__input--btn img {
  width: 14px;
}
.header__user {
  margin-block: 2em;
}
.header__user h1 {
  font-weight: 500;
  color: var(--gray);
}
.header__user h1 span {
  color: var(--type-purple);
}
.header__user p {
  font-size: 1rem;
  margin-top: 4px;
}
.subscription {
  padding: 0.7em 1.5em 2.5em;
  background: var(--type-purple);
  color: var(--white);
  border-radius: var(--radius);
}
.subscription span {
  font-size: 1rem;
}
.recent__courses-sect {
  display: flex;
  gap: 0.6em;
  border-top: 1px solid var(--very-light-gray);
}
.recent__courses--header {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1em;
}
.recent__courses--ctx-txt,
.recent__courses--ctx-img {
  width: 140.82px;
}
.courses--ctx-img-1 {
  background: url(../../assets/images/workspace.jpg) no-repeat;
  background-size: cover;
}
.courses--ctx-img-2 {
  background: url(../../assets/images/speaker.jpg) no-repeat;
  background-size: cover;
}
.courses--ctx-img-3 {
  background: url(../../assets/images/brick-wall.jpg) no-repeat;
  background-size: cover;
}
.recent__courses--ctx-img {
  height: 108.19px;
  font-size: 0.7rem;
  color: var(--white);
  margin-top: 1.5em;
  position: relative;
  z-index: -2;
  /* overflow: hidden; */
}
.ctx__img--container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: inherit;
  height: 30%;
  /* padding: 1em 1em; */
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 0 var(--white);
}
.ctx__img--container p {
  z-index: 10;
}
.ctx-img__title {
  margin-inline: 1.5em;
  margin-top: 1em;
}
.ctx-img__title a,
.stack {
  font-weight: 600;
  color: var(--white);
}
.recent__courses--ctx-txt {
  margin-top: 1em;
  width: 140px;
}
.recent__courses--ctx-txt h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--user-type-heading);
}
.recent__courses--ctx-txt p {
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0.8em;
  color: var(--gray);
}
.recent__courses--ctx-txt a {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 2em;
  color: var(--bright-cyan);
}
.recent__courses--ctx-txt a svg {
  margin-left: 0.3em;
}
.home__work-sect {
  margin-top: 5rem;
  margin-bottom: 1em;
}
.home__work-sect h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--user-type-heading);
  margin-bottom: 3rem;
}
.homework-1,
.homework-2,
.homework-3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1em;
  border-radius: var(--radius);
}
.homework-1 {
  background: var(--bg-blue);
}
.homework-2 {
  background: var(--bg-red);
}
.homework-3 {
  background: var(--bg-purple);
}
.homework-2,
.homework-3 {
  margin-top: 0.7em;
}
.homework__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 2em;
  padding: 0.8rem;
}
.icon-1 {
  background: var(--icon-bg-blue);
}
.icon-2 {
  background: var(--icon-bg-red);
  stroke: var(--loader-red);
}
.icon-3 {
  background: var(--icon-bg-purple);
  stroke: var(--loader-purple);
}
.homework svg {
  width: 17px;
  height: 16px;
}
.homework__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68vw;
  font-size: 1.1rem;
  font-weight: 500;
}
.details-1 {
  color: var(--loader-blue);
}
.details-2 {
  color: var(--loader-red);
}
.details-3 {
  color: var(--loader-purple);
}
.homework__details-container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.loader__container {
  width: 68vw;
  height: 6.5px;
  border-radius: 5em;
  overflow: hidden;
}
.container-1 {
  background: var(--icon-bg-blue);
}
.container-2 {
  background: var(--icon-bg-red);
}
.container-3 {
  background: var(--icon-bg-purple);
}
.loader {
  height: 6.5px;
  border-radius: 0 2em 2em 0;
}
.loader-1 {
  width: 55%;
  background: var(--loader-blue);
}
.loader-2 {
  width: 75%;
  background: var(--loader-red);
}
.loader-3 {
  width: 70%;
  background: var(--loader-purple);
}
