:root {
  /* Primary Colors */
  --white: hsl(0, 0%, 100%);
  --purple: hsl(273, 55%, 42%);

  /* Secondary Colors */
  --very-light-purple: hsl(274, 84%, 73%);
  --very-light-gray: hsl(0, 0%, 87%);
  --input-fields-overlay: hsl(273, 92%, 95%);

  /* Typography Colors */
  --off-white: hsl(238, 100%, 93%);
  --gray: hsl(0, 1%, 26%);
  --type-purple: hsl(273, 85%, 52%);
  --blue: hsl(223, 100%, 50%);
  --user-type-heading: hsl(220, 43%, 11%);
  --user-type-body: rgba(102, 112, 133, 1);
  --bright-cyan: rgba(40, 214, 216, 1);
  /* Mobile Size */
  --mobile-width: 89vw;

  /*------------
  Utilities
   ------------*/

  /* Accent Colors */
  --loader-blue: rgba(23, 92, 211, 1);
  --bg-blue: rgba(245, 250, 255, 1);
  --icon-bg-blue: rgba(209, 233, 255, 1);

  --loader-red: rgba(193, 21, 116, 1);
  --bg-red: rgba(254, 246, 251, 1);
  --icon-bg-red: rgba(252, 231, 246, 1);

  --loader-purple: rgba(53, 56, 205, 1);
  --bg-purple: rgba(245, 248, 255, 1);
  --icon-bg-purple: rgba(224, 234, 255, 1);

  --btn-height: clamp(3.2rem, 4vw, 3.8rem);
  --btn-width: clamp(9.3rem, 15vw, 12rem);
  --radius: 6px;
  --btn-fz: clamp(1.1rem, 3vw, 1.4rem);
  --transtion: all 0.3s linear;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.wrapper {
  width: var(--mobile-width);
  margin: 0 auto;
}
.nav {
  margin-top: 0.5em;
  width: 100%;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white);
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: min(30vw, 19.7rem);
  height: 26px;
}
.cta {
  font-family: inter;
  font-size: var(--btn-fz);
  font-weight: 500;
  border: none;
  outline: none;
  text-decoration: none;
  background: var(--type-purple);
  color: var(--white);
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transtion);
}
.main {
  margin-top: 6vw;
}
.header {
  position: relative;
  /* max-width: 688px; */
  margin-top: 3rem;
}
.header__label {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 0.9em;
}
.header__main {
  font-size: clamp(2rem, 8.6vw, 7.3rem);
  color: var(--gray);
  font-weight: 800;
}
#signBtn{
  background-color: #911DED;
}
.non__typed {
  background: var(--very-light-purple);
  color: var(--off-white);
  padding-inline: 14px;
  border-radius: var(--radius);
}
.header__main > .typed {
  color: var(--off-white);
  background: var(--very-light-purple);
  padding-inline: 14px;
  border-radius: var(--radius);
}
.header__img {
  width: 45%;
  max-width: 490px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.header__cta-sect {
  margin-top: clamp(1.3em, 6vw, 3em);
}
.header__cta {
  margin-bottom: 1.3em;
}
.header__cta a {
  color: var(--white);
  text-decoration: none;
}
.enrollments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 172px;
  height: 30px;
}
.enrollments div {
  position: absolute;
  width: 25px;

  overflow: hidden;
  border-radius: 50%;
}
.enrollments div img {
  width: 100%;
}

/* Image Stacks-----------------*/
.enrollments div:nth-child(2) {
  left: 10px;
  z-index: 0;
}
.enrollments div:nth-child(3) {
  left: 20px;
  z-index: 1;
}
.enrollments div:nth-child(4) {
  left: 30px;
  z-index: 2;
}
.enrollments div:nth-child(5) {
  left: 40px;
  z-index: 3;
}

.enrollments p {
  position: absolute;
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  font-weight: 300;
  right: 10px;
  color: var(--gray);
}
.enrollments p span {
  color: var(--type-purple);
}
.courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6em 1.5em;
}
.courses__icons {
  display: block;
  margin-inline: auto;
  margin-bottom: 1.3rem;
}
.courses__details h2 {
  font-size: clamp(1.1rem, 3vw, 2rem);
  font-weight: 500;
  color: var(--type-purple);
  text-align: center;
}
.courses__details p {
  display: none;
}

.footer {
  background: var(--purple);
  padding-block: 0.8em;
}
.footer__nav {
  padding-bottom: 1.6em;
  text-align: center;
}
.footer__nav h3 {
  font-weight: 500;
  color: var(--white);
}
.footer__nav ul {
  width: max-content;
  list-style: none;
  margin-top: 1em;
  margin-inline: auto;
}
.footer__nav ul a {
  width: inherit;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
  line-height: 2.3em;
}
.nav__about {
  display: none;
}
.nav__socials {
  text-align: center;
  margin-top: 1em;
}
.nav__socials h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.nav__socials h3,
.nav__socials a {
  color: var(--white);
}
.socials__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 2rem;
  margin-top: 1rem;
}
.footer__tag {
  font-size: 1.1rem;
  margin-top: 2em;
  text-align: center;
  color: var(--off-white);
}
.footer__logo {
  opacity: 0;
}
.cta:hover {
  opacity: 0.7;
}
.footer__nav ul li a:hover {
  text-decoration: underline;
}
a:hover {
  opacity: 0.7;
  transition: var(--transtion);
}

/*-----------------------------
/////////User Page/////////////
-----------------------------*/
.main__app {
  overflow-x: hidden;
}
.mentorOrStudent{
  background-color: #DFC7F2;
  width: 10rem;
  margin:auto;
}
.mentorOrStudentImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#modal{
  display: none;
  background-color: rgb(0,0,0);
  /* opacity: 70%; */
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  /* left: 50%; */
  justify-content: center;
}
.sideNav{
  background-color: white;
  width: 22rem;
  border-radius: 5px;
  padding: 7%;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}
.sideNav h3{
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
}
.mentorOrStudentImg img{
  margin: auto;
}
.mentorOrStudent p{
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}
@media (min-width: 600px) {
  .nav {
    background: var(--very-light-gray);
    margin-top: 0;
    padding-block: 1.5rem;
  }
  .header {
    margin-top: 10rem;
  }
  .enrollments {
    width: 225px;
    height: 34px;
  }
  .enrollments div {
    width: 35px;
  }
  .enrollments p {
    font-size: 1.7rem;
    right: 0;
  }

  .socials__icons {
    font-size: 2rem;
  }
  .nav__about {
    flex: 2 200px;
  }
  .nav__footer {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 4em;
    position: relative;
  }
  .nav__footer:nth-child(n) {
    width: 70%;
  }
  .footer__nav {
    padding: 0;
  }
  .nav__socials {
    margin: 0;
  }
  .nav__socials h3 {
    width: max-content;
    font-size: 1.17em;
  }
  .socials__icons,
  .footer__nav ul,
  .nav__about p {
    font-weight: 400;
    margin-top: 1.6em;
    line-height: 1.6;
  }
  .footer__tag {
    margin-top: 6em;
    font-size: 1.2rem;
  }
  .footer__logo {
    opacity: 0.037;
    position: absolute;
  }
  .mentorOrStudentImg{
    display: flex;
    gap: 2rem;
    flex-direction: row;
  }
  .sideNav{
    background-color: white;
    width: 22rem;
    border-radius: 5px;
    padding: 7%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 27rem;
  }
}
@media (min-width: 900px) {
  .wrapper {
    width: calc(var(--mobile-width) - 10rem);
  }
  .courses__details p {
    display: block;
  }
  .courses__details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
  }
  .courses {
    padding-block: 14em;
  }
  .courses__icons {
    margin-bottom: 0;
  }
  .courses__detail-txt {
    width: 200px;
    color: var(--gray);
  }
  .courses__detail-txt h2 {
    text-align: left;
  }
  .courses__detail-txt h2 a {
    text-decoration: none;
  }
  .courses__detail-txt p {
    font-size: 1.4rem;
  }
  .nav__about {
    display: inline;
    color: var(--white);
  }
  .nav__about p {
    font-size: 1.4rem;
    font-weight: 300;
    width: clamp(37ch, 28vw, 47ch);
  }
  .nav__footer {
    gap: 4em;
    justify-content: space-between;
  }
  .footer__nav:nth-child(n) {
    text-align: left;
  }
}
