:root {
  /* Primary Colors */
  --white: hsl(0, 0%, 100%);
  --purple: hsl(273, 55%, 42%);

  /* Secondary Colors */
  --very-light-purple: hsl(274, 84%, 73%);
  --very-light-gray: hsl(0, 0%, 87%);
  --input-fields-overlay: hsl(273, 92%, 95%);

  /* Typography Colors */
  --off-white: hsl(238, 100%, 93%);
  --gray: hsl(0, 1%, 26%);
  --type-purple: hsl(273, 85%, 52%);
  --blue: hsl(223, 100%, 50%);
  --user-type-heading: hsl(220, 43%, 11%);
  --user-type-body: rgba(102, 112, 133, 1);
  --bright-cyan: rgba(40, 214, 216, 1);
  /* Mobile Size */
  --mobile-width: 89vw;

  /*------------
    Utilities
     ------------*/

  /* Accent Colors */
  --loader-blue: rgba(23, 92, 211, 1);
  --bg-blue: rgba(245, 250, 255, 1);
  --icon-bg-blue: rgba(209, 233, 255, 1);

  --loader-red: rgba(193, 21, 116, 1);
  --bg-red: rgba(254, 246, 251, 1);
  --icon-bg-red: rgba(252, 231, 246, 1);

  --loader-green: rgba(2, 122, 72, 1);
  --bg-green: rgba(246, 254, 249, 1);
  --icon-bg-green: rgba(209, 250, 223, 1);

  --loader-purple: rgba(53, 56, 205, 1);
  --bg-purple: rgba(245, 248, 255, 1);
  --icon-bg-purple: rgba(224, 234, 255, 1);

  --btn-height: clamp(3.2rem, 4vw, 3.8rem);
  --btn-width: clamp(9.3rem, 15vw, 12rem);
  --radius: 6px;
  --btn-fz: clamp(1.1rem, 3vw, 1.4rem);
  --transtion: all 0.3s linear;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.wrapper {
  width: var(--mobile-width);
  margin: 0 auto;
}
.nav {
  margin-top: 2em;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white);
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}
.nav__logo {
  width: 128px;
  height: 26px;
  z-index: -2;
}
/* HAMBURGER MENU */
.nav__hamburger {
  cursor: pointer;
  z-index: 100;
}
.lines {
  width: 26px;
  height: 2.5px;
  margin: 0.4em;
  border-radius: 50px;
  background: var(--gray);
}
.lines {
  transition: all 200ms;
}
.toggle .lines:nth-child(2) {
  opacity: 0;
}
.toggle .lines:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.toggle .lines:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.overlay {
  background: rgb(0, 0, 0, 0.8);
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  backdrop-filter: blur(1.8px);
  opacity: 0;
  transition: all 400ms;
}
.desktop__nav--wrapper {
  position: absolute;
  top: -3.2rem;
  right: 0;
  background: rgb(255, 255, 255, 1);
  width: 60%;
  min-height: 100vh;
  transform: translateX(100%);
  transition: all 300ms;
}
.Desktop__nav--icons {
  all: unset;
  display: flex;
  padding-block: 1rem;
  cursor: pointer;
  width: 13rem;
}
.hamburger__btn {
  margin: 7em 0 0 3em;
}
.Desktop__nav--icons a {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray);
}
.active {
  opacity: 1;
  transform: translateX(0);
}

.profile {
  display: flex;
  align-items: center;
}
.Desktop__nav--icons svg,
.desktop__logo,
.profile__desktop {
  display: none;
}

/* END---------------------------------- */
.profile img {
  width: 25px;
  aspect-ratio: 1;
  margin-right: 6px;
  border-radius: 50%;
}
.profile__arrow {
  display: block;
  padding-left: 4px;
}
.profile__name {
  font-size: 1.3rem;
  line-height: 2;
  color: var(--gray);
}
.search__input {
  width: 66vw;
  min-width: 213px;
  max-width: 280px;
  height: 40px;
  position: relative;
  margin-left: 0;
  margin-top: 1.8em;
  border-radius: var(--radius);
  background: var(--very-light-gray);
  color: var(--gray);
  overflow: hidden;
}
.search__input:focus-within {
  outline: 4px solid hsl(0, 0%, 98%);
}
.search__input input {
  width: 85%;
  height: 100%;
  margin-left: 14%;
  padding-left: 1rem;
  border: 0;
  outline: 0;
  background: transparent;
}
.search__input--btn {
  position: absolute;
  display: grid;
  place-content: center;
  background: transparent;
  height: 100%;
  width: 40px;
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 0;
  outline: 0;
}
.search__input--btn img {
  width: 14px;
}
.header__user {
  margin-block: 2em;
}
.header__user h1 {
  font-size: clamp(2rem, 7vw, 6.2rem);
  font-weight: 500;
  color: var(--gray);
}
.header__user h1 span {
  color: var(--type-purple);
}
.header__user p {
  font-size: clamp(1rem, 3vw, 2.5rem);
  margin-top: 4px;
  color: var(--gray);
}
.subscription {
  max-width: clamp(30rem, 100%, 100vw);
  padding: 0.7em 1.5em 2.5em;
  background: var(--type-purple);
  color: var(--white);
  border-radius: var(--radius);
}
.subscription p {
  font-size: clamp(1.6rem, 5vw, 3.6rem);
  font-weight: 700;
  max-width: 413px;
}
.subscription span {
  font-size: clamp(1rem, 3vw, 1.8rem);
  display: block;
  max-width: 390px;
}
.recent__courses-sect {
  display: flex;
  gap: 0.6em;
  max-width: clamp(30rem, 100%, 100vw);
  border-top: 1px solid var(--very-light-gray);
}
.recent__courses--header {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 1em;
}
.recent__courses--ctx {
  width: 100vw;
}
.recent__courses--ctx-img:nth-child(n) {
  background-size: cover;
  background-repeat: no-repeat;
}
.courses--ctx-img-1 {
  background: url(../../assets/images/workspace.jpg);
}
.courses--ctx-img-2 {
  background: url(../../assets/images/speaker.jpg);
}
.courses--ctx-img-3 {
  background: url(../../assets/images/brick-wall.jpg);
}
.recent__courses--ctx-img {
  aspect-ratio: 1;
  font-size: 0.7rem;
  color: var(--white);
  margin-top: 1.5em;
  position: relative;
  z-index: -2;
}
.ctx__img--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 31%;
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 0 var(--white);
}
.ctx-img__title {
  padding-inline: 1.2em;
  font-size: clamp(0.6rem, 1.3vw, 1.2rem);
}
.ctx__img--container p {
  z-index: 10;
}
.ctx-img__title p,
.stack {
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
.recent__courses--ctx-txt {
  margin-top: 1em;
}
.recent__courses--ctx-txt h3 {
  width: 15ch;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-weight: 600;
  color: var(--user-type-heading);
}
.recent__courses--ctx-txt p {
  font-size: clamp(0.75rem, 1.5vw, 1.4rem);
  font-weight: 400;
  margin-top: 0.8em;
  color: var(--gray);
}
.recent__courses--ctx-txt a {
  display: block;
  font-size: clamp(0.75rem, 1.5vw, 1.4rem);
  font-weight: 500;
  margin-top: 2em;
  color: var(--bright-cyan);
}
.recent__courses--ctx-txt a svg {
  margin-left: 0.3em;
  width: clamp(1rem, 3vw, 2rem);
}
.home__work-sect {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 1em;
}
.home__work-sect h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--user-type-heading);
  margin-bottom: 3rem;
}
.homework-1,
.homework-2,
.homework-3,
.homework-4 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1em;
  border-radius: var(--radius);
}
.homework-1 {
  background: var(--bg-blue);
}
.homework-2 {
  background: var(--bg-red);
}
.homework-3 {
  background: var(--bg-purple);
}
.homework-4 {
  background: var(--bg-green);
}
.homework-2,
.homework-3,
.homework-4 {
  margin-top: 0.7em;
}
.homework__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 2em;
  padding: 0.8rem;
}
.icon-1 {
  background: var(--icon-bg-blue);
}
.icon-2 {
  background: var(--icon-bg-red);
  stroke: var(--loader-red);
}
.icon-3 {
  background: var(--icon-bg-purple);
  stroke: var(--loader-purple);
}
.icon-4 {
  background: var(--icon-bg-green);
  stroke: var(--loader-green);
}
.homework svg {
  width: 17px;
  height: 16px;
}
.homework__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 500;
}
.details-1 {
  color: var(--loader-blue);
}
.details-2 {
  color: var(--loader-red);
}
.details-3 {
  color: var(--loader-purple);
}
.details-4 {
  color: var(--loader-green);
}
.homework__details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.loader__container {
  height: 6.5px;
  border-radius: 5em;
  overflow: hidden;
}
.container-1 {
  background: var(--icon-bg-blue);
}
.container-2 {
  background: var(--icon-bg-red);
}
.container-3 {
  background: var(--icon-bg-purple);
}
.container-4 {
  background: var(--icon-bg-green);
}
.loader {
  height: 6.5px;
  border-radius: 0 2em 2em 0;
}
.loader-1 {
  width: 55%;
  background: var(--loader-blue);
}
.loader-2 {
  width: 75%;
  background: var(--loader-red);
}
.loader-3 {
  width: 70%;
  background: var(--loader-purple);
}
.loader-4 {
  width: 90%;
  background: var(--loader-green);
}
@media (min-width: 600px) {
  .nav {
    margin-top: 0;
    padding-block: 0.7em;
    width: 100%;
  }
  .nav__logo {
    width: 109px;
    height: 34px;
  }
}
@media (min-width: 800px) {
  /* USER */
  .user__main {
    margin-left: calc(21% + 1vw);
    width: 75%;
  }
  .nav {
    background: var(--white);
    border-right: 1px solid var(--gray);
    position: fixed;
    top: 0;
    width: min(21%, 230px);
    height: 100%;
  }
  .nav__icons {
    width: 2rem;
  }
  .nav__wrapper {
    display: none;
  }
  .search__input {
    border: 1.5px solid var(--very-light-gray);
    background: transparent;
  }
  .search__input input {
    font-size: 1.4rem;
  }
  .home__work-sect {
    margin-top: 4em;
  }
  .home__work-sect h2 {
    font-size: 1.8rem;
  }

  .nav__wrapper {
    display: none;
  }
  .nav__logo {
    margin-inline: auto;
    margin-bottom: 2rem;
    width: 137px;
  }
  /* BEGIN------------ ###################*/
  .hamburger__btn {
    margin: 0;
  }
  .Desktop__nav {
    display: flex;
    flex-direction: column;
  }
  .desktop__nav--wrapper {
    position: relative;
    top: 0;
    transform: translateX(0);
    margin-inline: auto;
    border-bottom: 1px solid var(--gray);
    width: 75%;
    min-height: 79vh;
  }
  .Desktop__nav--icons {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding-block: 2.4rem;
    cursor: pointer;
    width: 13rem;
  }
  .Desktop__nav--icons svg,
  .desktop__logo {
    display: block;
  }
  .profile__desktop {
    display: flex;
  }
  .Desktop__nav--icons svg {
    width: 22%;
    /* border: 1px solid green; */
  }
  .Desktop__nav--icons a {
    font-size: 1.23rem;
    font-weight: normal;
    color: var(--gray);
    height: auto;
    /* border: 1px solid red; */
  }
  .settings {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
  }
  .settings p {
    font-size: 1.6rem;
  }
  .profile__desktop {
    width: 75%;
    margin-inline: auto;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }
  .profile__name--wrapper {
    line-height: 0;
    margin-right: auto;
    margin-bottom: auto;
  }
  .profile__name {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }
  .profile__email {
    display: block;
    font-size: clamp(0.6rem, 1vw, 1rem);
    font-weight: 500;
    color: var(--gray);
  }
  .profile img {
    width: min(3.3vw, 35px);
    margin-right: 3px;
  }
  .profile__arrow {
    display: none;
    margin-right: auto;
  }
  .profile__icon {
    width: min(1.4vw, 26.5px);
    min-width: 1.8ch;
  }
  .dashboard__active {
    position: absolute;
    top: 0.8rem;
    right: 3rem;
    width: 3px;
    height: 5rem;
    border-radius: var(--radius);
    background: var(--loader-red);
    transition: 0.6s;
    z-index: -1;
  }
  .Desktop__nav--icons:nth-child(1):hover ~ .dashboard__active {
    top: 0.8rem;
  }
  .Desktop__nav--icons:nth-child(2):hover ~ .dashboard__active {
    top: 7.3rem;
  }
  .Desktop__nav--icons:nth-child(3):hover ~ .dashboard__active {
    top: 14.4rem;
  }
  .Desktop__nav--icons:nth-child(4):hover ~ .dashboard__active {
    top: 20.9rem;
  }
  .subscription {
    padding: 4rem;
  }
  .recent__courses--ctx-txt h3 {
    width: 23ch;
  }
  .overlay {
    display: none;
  }
}
@media (min-width: 1400px) {
  .search__input {
    position: fixed;
    top: 53px;
    right: 60px;
  }
  .user__main {
    margin-left: 18%;
    width: 57%;
    height: 110vw;
  }
  .home__work-sect {
    position: fixed;
    top: 100px;
    right: 0;
    width: 22%;
    height: 100%;
    padding: 0 1.5em;
    border-left: 1px solid var(--gray);
    background: var(--white);
  }
  .subscription {
    padding: 7rem;
  }
  .subscription p {
    max-width: 470px;
    margin-bottom: 1rem;
  }
  .subscription span {
    max-width: 600px;
    margin-bottom: 1rem;
  }
}
